.popup__caption {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  margin: 0;

}


.error-message {
  display: none;
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.error-message_visible {
  display: block;
}